@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Pizzas" asp-action="Index">Pizzas</a></p>
    <p><a asp-controller="Toppings" asp-action="Index">Toppings</a></p>
</div>
